[submodule "libraries/BLT"]
	path = libraries/BLT
	url = https://github.com/Tri11Paragon/BLT.git
[submodule "libraries/imgui"]
	path = libraries/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "libraries/implot"]
	path = libraries/implot
	url = https://github.com/epezent/implot
